<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <button onclick="callKakao()">카카오로그인</button>
    </div>
  </body>
  <script>
    function callKakao() {
      location.href = '/auth/kakao';
    }
  </script>
</html>
