<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4><%=user.profile._json.kakao_account.email%> 환영합니다</h4>
    <button onclick="logout()">로그아웃</button>
    <button onclick="unlink()">탈퇴</button>
    <script>
      function logout() {
        location.href = '/auth/kakao/logout';
      }
      function unlink() {
        location.href = '/auth/kakao/unlink';
      }
    </script>
  </body>
</html>
